/* Estilo para o corpo da página */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Define a fonte para o corpo da página */
}

/* Estilo para o menu lateral */
#menu {
  border-top-right-radius: 30px; /* Define os cantos arredondados do canto superior direito */
  background-color: #30C5FF; /* Cor de fundo do menu */
  color: #fff; /* Cor do texto no menu */
  width: 200px; /* Largura do menu */
  height: 100vh; /* Altura do menu - 100% da altura da viewport */
  position: fixed; /* Menu fixo na posição */
  left: 0; /* Posição à esquerda */
  top: 0; /* Posição no topo */
  padding-top: 50px; /* Espaçamento no topo do menu */
}

/* Estilo para a lista dentro do menu */
#menu ul {
  list-style: none; /* Remove os marcadores de lista padrão */
  padding: 0; /* Remove o preenchimento padrão */
  margin: 0; /* Remove as margens padrão */
}

#menu ul li {
  padding: 10px 20px; /* Espaçamento interno dos itens da lista */
  border-bottom: 1px solid #fff; /* Linha de separação entre os itens da lista */
  cursor: pointer; /* Altera o cursor para indicar que os itens da lista são clicáveis */
}

#menu ul li:hover {
  background-color: #30C5FF; /* Cor de fundo ao passar o mouse sobre os itens da lista */
}

/* Estilo para o contêiner principal */
#container {
  border-radius: 30px; /* Define os cantos arredondados do contêiner */
  background-color: #d9d9d9; /* Cor de fundo do contêiner */
  color: #000000; /* Cor do texto dentro do contêiner */
  width: 100%; /* Largura do contêiner */
  height: 40%; /* Altura do contêiner */
  position: right; /* Posição à direita */
  padding-top: 10px; /* Espaçamento no topo do contêiner */
}

#container h2 {
  text-align: center; /* Alinha o texto centralmente */
}

#container ul {
  list-style: none; /* Remove os marcadores de lista padrão */
  padding: 0; /* Remove o preenchimento padrão */
  margin: 0; /* Remove as margens padrão */
}

#container ul li {
  padding: 10px 20px; /* Espaçamento interno dos itens da lista */
  border: 1px solid #ffffff; /* Borda dos itens da lista */
}

/* Estilo para outro contêiner */
#container3 {
  border-radius: 30px; /* Define os cantos arredondados do contêiner */
  background-color: #d9d9d9; /* Cor de fundo do contêiner */
  color: #000000; /* Cor do texto dentro do contêiner */
  width: 100%; /* Largura do contêiner */
  height: 500px; /* Altura do contêiner */
  padding-top: 10px; /* Espaçamento no topo do contêiner */
}

#container3 h2 {
  text-align: center; /* Alinha o texto centralmente */
}

#container3 .button {
  text-align: center; /* Alinha o texto do botão centralmente */
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: #30C5FF; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 30px; /* Define os cantos arredondados do botão */
  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
  margin-bottom: 50px;
}

/* Estilo para outro contêiner */

.text-content {
  text-align: center;
  display: table-caption;
  padding: 5px;
  width: 300px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #333;
}

.input-group, .input-group2, .input-group3, .input-group4 {
  display: inline-block; /* Para que as divs fiquem uma ao lado da outra */
  margin-right: 20%; /* Adiciona margem direita para separar as divs */
  margin-left: 10px;
  vertical-align: top; /* Alinha as divs ao topo */
}

#container4 {
  border-radius: 30px; /* Define os cantos arredondados do contêiner */
  background-color: #d9d9d9; /* Cor de fundo do contêiner */
  color: #000000; /* Cor do texto dentro do contêiner */
  width: 100%; /* Largura do contêiner */
  height: 50%; /* Altura do contêiner */
  position: right; /* Posição à direita */
  padding-top: 10px; /* Espaçamento no topo do contêiner */
}

#container4 ul {
  list-style: none; /* Remove os marcadores de lista padrão */
  padding: 10px; /* Remove o preenchimento padrão */
  margin: 0px; /* Remove as margens padrão */
}

#container4 .button {
  background-position: center;
  text-align: center; /* Alinha o texto do botão centralmente */
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: #30C5FF; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 30px; /* Define os cantos arredondados do botão */
  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
}

#container4 ul li {
  padding: 10px 20px; /* Espaçamento interno dos itens da lista */
  border: 1px solid #ffffff; /* Borda dos itens da lista */
}

/* Outros estilos */
/* Espaçamento do conteúdo principal */
.conteudo {
  margin-left: 200px; /* Margem à esquerda para compensar a largura do menu lateral */
  padding: 20px; /* Espaçamento interno do conteúdo */
}

/* Estilo para o iframe */
iframe {
  height: 500px; /* Altura do iframe */
  width: 100%; /* Largura do iframe */
}

/* Estilo para o grupo de entrada de dados */
.input-group label {
  text-align: left; /* Alinha o texto à esquerda */
  display: block; /* Define os rótulos como blocos para ocupar toda a largura disponível */
  margin-bottom: 10px; /* Espaçamento inferior do rótulo */
}

.input-group input,
.input-group select {
  width: 50%; /* Largura dos campos de entrada e seleção */
  padding: 8px; /* Espaçamento interno dos campos */
  border-radius: 5px; /* Define os cantos arredondados dos campos */
  border: 1px solid #ccc; /* Borda dos campos */
}

/* Estilo para botões */
button {
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: #30C5FF; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Define os cantos arredondados do botão */
  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
}

/* Classe para ocultar elementos */
.hidden {
  display: none; /* Oculta elementos com essa classe */
}
