#menu {
    border-top-right-radius: 30px;
    background-color: #30C5FF;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 50px;
}


#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: #30C5FF;
}

.conteudo {
    margin-left: 200px;
    padding: 20px;
}
iframe {
    height: 300px;
    width: 300px;
}

.input-group label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
  }

.input-group input,
.input-group select {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #30C5FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

#popup {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 99, 104, 0.473);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 9999; /* Garante que o popup esteja acima de outros elementos */
  }

  .hidden {
    display: none;
}
